* {
	font-family: 'Fjalla One', sans-serif;

}

.img {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 62.5%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
	text-align: center;
	text-decoration: underline;
	margin: 0;

}

.white {
	color: #ffffff;
}

header {

	background-color: #bfbfbf;
	border-bottom: 1px solid #d1d1e0;
	margin-bottom: 0px;
	padding-bottom: 12px;

}

footer {

	background-color: #d1d1e0;
	border-bottom: 1px solid #d1d1e0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	 position: absolute;
  	right: 0;
 	bottom: 0;
  	left: 0;

}

.days {
	text-decoration: underline;
	font-weight: bold;
	font-size: 20px;
}

dl {
	color: #d9d9d9;
}

dt {
	list-style-type: none;
	padding: 2px;
}

dd:before {
	content: "-";
}

dd {
	font-style: italic;
	font-size: 14px;
}

a {
	text-decoration: none;
}
