/** {
	font-family: 'Fjalla One', sans-serif;

}*/

.img {
  margin-right: -15px;
  margin-left: -15px;
  padding-bottom: 62.5%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

}

a:link {
	color: #ffbf00;
}

a:visited {
	color: #ffbf00;
}

h1 {
	text-align: center;
	text-decoration: underline;
	margin: 0;


}

.white {
	color: #ffffff;
	font-family: 'Fjalla One', sans-serif;
}

header {

	background-color: #4d4d4d;

	margin-bottom: 0px;
	padding-bottom: 12px;
	width: 100%;

}
.opacity {
	opacity: 0.5;
}

footer {

	background-color: #d1d1e0;
	border-bottom: 1px solid #d1d1e0;
	margin-bottom: 10px;
	padding-bottom: 10px;
	 position: absolute;
  	right: 0;
 	bottom: 0;
  	left: 0;

}

.days {
	text-decoration: underline;
	font-weight: bold;
	font-size: 25px;
	font-family: 'Roboto Slab', serif;
}

.roboto {
	font-family: 'Roboto Condensed', sans-serif;
}

dl {
	color: white;
	padding:  10px;


}

dt {
	list-style-type: none;
	padding: 2px;
	font-size: 23px;
	font-family: 'Roboto Condensed', sans-serif;

}

dd:before {
	content: "-";
}

dd {
	font-style: oblique;
	font-size: 22px;
	padding-left: 30px;
}

a {
	text-decoration: none;

}
